@use "./base.scss";

// put your custom CSS here!

h1, h2.page-title {
    letter-spacing: -0.5px;
}

h2 {
    letter-spacing: -0.3px;
}

a.internal {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

a.external > svg {
    padding-left: 2px;
}

div.center a,
footer a {
        text-decoration: underline 1px;
}

.explorer-content ul li>a.active {
    color: var(--secondary);
}

@media (max-width:800px) {
    h2.page-title {
        display: none;
    }
}
